body {
  background-color: #f82f2f;
}

.container {
  margin: 10% auto 10%;
  max-width: 960px;
  padding: 0 48px;
}

.add-task,
.task-item {
  background-color: rgba(0, 0, 0, 0.24);
  padding: 16px 32px;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -3.8;
  color: #000000;
}

.add-task {
  margin-top: 48px;
  width: 100%;
  height: 72px;
  outline: none;
  border: none;
  border-radius: 64px;
}

.add-task::placeholder {
  color: rgba(34, 34, 34, 0.56);
}

.notes {
  margin: 36px auto 144px;
  padding: 0;
  list-style: none;
}

.task-item {
  margin-bottom: 24px;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.done-note {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.delete-note {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}
